// button colors
$--color-primary: #409EFF;
$--color-white: #ffffff;
$--color-black: #000000;
$--color-plain: #333333;
$--font-color-plain: #606266;
$--border-color-plain: #dcdfe6;
// button-color || hover
$--color-primary-hover: mix($--color-white, $--color-primary, 20%);

// button size
$--font-size-btn: 14px;

// button radius
$--border-radius-btn: 2px;
$--border-radius-cycle: 50%;
$--border-radius-round: 12px;

